header, h2 {
  color: white;
  text-decoration: underline;
  text-align: center;
}

p {
  color: lightgray;
}

footer {
  color: white;
  text-align: center;
}
body {
  background-color: purple;
}



img[src="mum1.jpg"] {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 20px groove goldenrod;
    margin: 35px auto;
    padding: 0;
    display: block;
  }


img[src="mum2.jpg"] {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 20px groove goldenrod;
  margin: 35px auto;
  padding: 0;
  display: block;
}

img[src="mum3.jpg"] {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 20px groove goldenrod;
  margin: 35px auto;
  padding: 0;
  display: block;
}
